  {{>header}}
  <title>User Dashboard</title>
</head>
<body>
  <div class="container">
    <h2>Welcome, <span id="username">{{name}}</span></h2>
    <p>Your Admission Number: <span id="admission">{{admission}}</span></p>
  </div>
  <form action="/" method="GET">
    <button type="submit">Logout</button>
    </form>
</body>
</html>

