  {{>header}}
  <title>constraint checking</title>
</head>
<body>
  {{>navbar}}
  <div class="container">
    <h2>{{message}}</h2>
  </div>
  <form >
    <button type="button" onclick="window.history.back()">Okay</button>
    </form>
</body>
</html>

{{!-- To check whether all constraint are satisfied are not  --}}