{{>header}}
    <title>initial index page</title>
</head>
<body>
    {{>navbar}}
  <div class="container">
    <section id="home">
      <h2>Welcome to Our Website</h2>
      <p>This is the home section of our website.</p>
    </section>
    </div>

</body>
</html>